<div xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img th:src="@{/images/car_bg.png}" alt="Logo" style="width:40px;">
          <span>PathMates</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <!-- Affichage conditionnel pour les Conducteurs -->
            <!-- Si rôle = driver -->
            <li class="nav-item" th:if="${role == 'DRIVER'}">
              <a class="nav-link" href="/create-ride">Proposer un trajet</a>
            </li>
            <li class="nav-item" th:if="${role == 'PASSENGER'}">
              <a class="nav-link" href="/rides">Search rides</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reviews</a>
            </li>
            <!-- Si l'utilisateur est connecté, afficher le bouton Déconnexion -->
            <!-- Check if the role is not null or not a passenger -->
            <li class="nav-item" th:if="${role != null}">
              <a class="btn btn-outline-danger ms-2" href="/logout">Logout</a>
            </li>

            <!-- If the role is null, display Sign In and Sign Up -->
            <li class="nav-item" th:if="${role == null}">
              <a class="btn btn-outline-primary ms-2" href="/login">Sign In</a>
              <a class="btn btn-primary ms-2" href="/register">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
