<div xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img th:src="@{/images/car_bg.png}" alt="Logo" style="width:40px;">
          <span>PathMates</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>

            <!-- Affichage conditionnel pour les Conducteurs -->
            <li class="nav-item" th:if="${session.role == 'driver'}">

              <a class="nav-link" href="/addrides">Offer a Ride</a>
            </li>

            <!-- Page d'historique des réservations pour le conducteur -->
            <li class="nav-item" th:if="${session.role == 'driver'}">
              <a class="nav-link" href="/driver/reservationhistory">Driver Reservation History</a>
            </li>

            <li class="nav-item" th:if="${session.role == 'passenger'}">
              <a class="nav-link" href="/rides">Search rides</a>
            </li>
            <li class="nav-item" th:if="${session.role == 'passenger'}">
              <a class="nav-link" href="/reservationhistory">Reservation History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reviews</a>
            </li>


            <li class="nav-item" th:if="${session.role != null}">
              <a class="btn btn-outline-danger ms-2" href="/logout">Log out</a>

            </li>



            <li class="nav-item" th:if="${session.role == null}">
              <a class="btn btn-outline-primary ms-2" href="/loginn">Sign In</a>
              <a class="btn btn-primary ms-2" href="/register">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
