/* navbar.css - Styles globaux pour le navbar */

/* Appliquer la couleur et la ligne sous le lien actif */
nav .nav-link.active,
nav .nav-link.active:hover {
    color: #ff7043 !important; /* Couleur active des liens */
    border-bottom: 2px solid #ff7043 !important; /* Ligne sous le lien actif */
}
.nav-link.active {
    color: #ff7043 !important;  /* Change la couleur */
    border-bottom: 2px solid #ff7043 !important;  /* Ajoute la ligne sous le lien actif */
}
.navbar-brand span {
    font-size: 24px;
    font-weight: bold;
    color: #ff7043;
    margin-left: 10px;
}

.navbar-nav {
    flex-direction: row; /* Aligner les liens horizontalement */
    justify-content: center; /* Centrer les éléments */
    width: 100%;
}

.navbar-nav .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-primary {
    background-color: #ff7043 !important; /* Couleur des boutons principaux */
    color: white !important;
    border: none !important;
    outline: none !important;
}

.btn-outline-primary {
    border-color: #ff7043 !important;
    color: #ff7043 !important;
}

/* Effet hover pour Sign In et Sign Up */
.btn-primary:hover,
.btn-outline-primary:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important; /* Ajouter une ombre au survol */
    transform: scale(1.05) !important; /* Optionnel : Légère augmentation de la taille */
}

.btn-primary:focus,
.btn-outline-primary:focus {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important; /* Ombre au focus */
    outline: none !important; /* Supprimer les bordures au focus */
}

/* Désactiver la couleur de fond par défaut sur hover pour btn-outline-primary */
.btn-outline-primary:hover {
    background-color: white !important; /* Reste blanc au survol */
    color: #ff7043 !important; /* Conserve la couleur orange du texte */
    border-color: #ff7043 !important; /* Conserve la bordure orange */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important; /* Ajouter une ombre */
    transform: scale(1.05) !important; /* Optionnel : Légère augmentation de la taille */
}

/* Effet de survol pour le lien */
.navbar-nav .nav-link:hover {
    color: #ff7043 !important;  /* Change la couleur du texte au survol */
    border-bottom: 2px solid #ff7043 !important;  /* Ajoute une ligne sous le lien */
}
