<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>

<h2>Register</h2>
<hr/>
<div th:if="${success}"
class="alert alert-success alert-dismissible fade show" role="alert">
<strong>Account Created Successfully!</strong>
    <a class="ms-2" href="/login">Login</a>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form th:action="@{/register}" th:object="${registerDto}" method="post">
    <!-- First Name Field -->
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter your first name" required />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>

    <!-- Last Name Field -->
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter your last name" required />
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>

    <!-- Email Field -->
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" placeholder="Enter your email" required />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>

    <!-- Password Field -->
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <!-- Phone Number Field -->
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter your phone number" />
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
    </div>

    <!-- Role Field -->
    <div>
        <label for="role">Role:</label>
        <input type="text" id="role" th:field="*{role}" placeholder="Enter your role" />
        <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
    </div>

    <!-- Submit Button -->
    <div>
        <button type="submit">Register</button>
    </div>
</form>

</body>
</html>
